/*!******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./app/src/scss/app.scss ***!
  \******************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 500;
  src: url(../../assets/fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: url(../../assets/fonts/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 100;
  src: url(../../assets/fonts/SourceSansPro-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 900;
  src: url(../../assets/fonts/SourceSansPro-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  src: url(../../assets/fonts/SourceSansPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  src: url(../../assets/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}
body {
  background-color: #f3f3f3;
  padding-top: 1.25rem;
}

.header-wrapper {
  align-items: center;
}

.header {
  color: #0a0a0a;
  text-transform: uppercase;
}

.button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex: 2;
}

.tabs-panel {
  min-height: 100%;
}
.tabs-panel.is-active {
  border: 1px solid #cdcdcd;
}

.tabs.vertical {
  padding-top: 40px;
}
.tabs.vertical .tabs-title-header {
  color: #616161;
  font-weight: bolder;
  margin-bottom: 10px;
  padding-left: 20px;
  text-transform: capitalize;
}
.tabs.vertical > li.is-active {
  border: 1px solid #cdcdcd;
  width: calc(100% + 2px);
  border-right: 1px solid #ffffff;
}
.tabs.vertical > li.is-active > a {
  font-weight: bold;
}
.tabs.vertical > li.is-active > a:focus {
  background-color: #fefefe;
}
.tabs.vertical > li > a {
  color: #8a8a8a;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
}
.tabs.vertical > li > a:focus {
  background-color: #e6e6e6;
}

.tab-header {
  font-weight: lighter;
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #cacaca;
}

.tabs-container {
  z-index: 2;
}

.tabs-content-container {
  z-index: 1;
}

.passenger-details-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #cacaca;
}
.passenger-details-wrapper > h5 {
  color: #8a8a8a;
  padding-bottom: 20px;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 20px;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 350px;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

select {
  background-color: #fefefe;
  padding: 7px;
  width: 175px;
  border-radius: 3px;
}

input[type=text] {
  padding: 7px;
  width: 175px;
}

.hidden {
  display: none;
}

.header-container {
  margin-bottom: 20px;
}

.popup-body-container {
  min-width: 500px;
  margin: 0 auto;
}

.popup-body-wrapper {
  align-items: center;
  flex-direction: column;
}

.availability-table {
  text-align: center;
}

.popup-footer {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  width: 100%;
}
.popup-footer .begin-spacer {
  flex: 1 0 15%;
}
.popup-footer .spacer {
  flex: 1 0 auto;
}
.popup-footer button {
  margin-bottom: 0;
}

/*# sourceMappingURL=app.css.map*/