body {
    font-size: 12px;
    width: 250px;
    padding: 20px;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

select {
    width: 150px;
}