<html>
<head>
	<title>Settings for Tadoba Booking</title>
	<link rel="stylesheet" href="../assets/css/vendor.css">
	<link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<div class="grid-container header-container">
	<div class="grid-x header-wrapper">
		<div class="cell medium-3">
			<img class="header-logo" src="../assets/images/logo_128.png"/>
		</div>
		<div class="cell medium-8">
			<h1 class="header">
				<b>Tadoba</b> Autofill
			</h1>
		</div>

		<div class="cell medium-1 button-wrapper">
			<button type="button" id="save-options" class="button">Save</button>
		</div>
	</div>
</div>

<div class="grid-container">
	<div class="callout small success settings-saved-callout hidden">
		<h5>Success!</h5>
		<p>Your settings have been saved</p>
	</div>
</div>


<div class="grid-container">
	<div class="grid-x">
		<div class="cell medium-3 tabs-container">
			<ul class="vertical tabs js-vertical-tabs" data-tabs id="example-tabs">
				<h3 class="tabs-title-header">SETTINGS</h3>
				<li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Tatkal Details</a></li>
				<li class="tabs-title"><a href="#panel2v">Passenger Count</a></li>
				<li class="tabs-title"><a href="#panel3v">Passenger Details</a></li>
				<li class="tabs-title"><a href="#panel4v">Activities</a></li>
				<li class="tabs-title" style="display: none"><a href="#panel5v">Tab 5</a></li>
				<li class="tabs-title" style="display: none"><a href="#panel6v">Tab 6</a></li>
			</ul>
		</div>
		<div class="cell medium-9 tabs-content-container">
			<div class="tabs-content vertical" data-tabs-content="example-tabs">
				<div class="tabs-panel is-active" id="panel1v">
					<h3 class="tab-header">Tatkal Settings</h3>
					<div class="zone-selection-row row">
						<label for="zone-selector">Safari Zone</label>
						<select id="zone-selector">
							<option value="Moharli Gate [Core]">Moharli Gate [Core]</option>
							<option value="Khutwanda Gate [Core]">Khutwanda Gate [Core]</option>
							<option value="Navegaon Gate [Core]">Navegaon Gate [Core]</option>
							<option value="Kolara Gate [Core]">Kolara Gate [Core]</option>
							<option value="Pangadi Gate [Core]">Pangadi Gate [Core]</option>
							<option value="Zari Gate [Core]">Zari Gate [Core]</option>
						</select>
					</div>

					<div class="shift-selection-row row">
						<label for="shift-selector">Shift</label>
						<select id="shift-selector">
							<option value="Morning">Morning</option>
							<option value="Evening">Evening</option>
						</select>
					</div>
				</div>
				<div class="tabs-panel" id="panel2v">
					<h3 class="tab-header">Passenger Count</h3>
					<div class="row">
						<label for="passenger-count">Number of People</label>
						<select id="passenger-count">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
					</div>
					<div class="row">
						<label for="state-selector">State</label>
						<select id="state-selector">
							<option value="" selected="selected">Select State</option>
							<option value="Andhra Pradesh">Andhra Pradesh</option>
							<option value="Arunachal Pradesh">Arunachal Pradesh</option>
							<option value="Assam">Assam</option>
							<option value="Bihar">Bihar</option>
							<option value="Chhattisgarh">Chhattisgarh</option>
							<option value="Goa">Goa</option>
							<option value="Gujarat">Gujarat</option>
							<option value="Haryana">Haryana</option>
							<option value="Himachal Pradesh">Himachal Pradesh</option>
							<option value="Jharkhand">Jharkhand</option>
							<option value="Karnataka">Karnataka</option>
							<option value="Kerala">Kerala</option>
							<option value="Madhya Pradesh">Madhya Pradesh</option>
							<option value="Maharashtra">Maharashtra</option>
							<option value="Manipur">Manipur</option>
							<option value="Meghalaya">Meghalaya</option>
							<option value="Mizoram">Mizoram</option>
							<option value="Nagaland">Nagaland</option>
							<option value="Odisha">Odisha</option>
							<option value="Punjab">Punjab</option>
							<option value="Rajasthan">Rajasthan</option>
							<option value="Sikkim">Sikkim</option>
							<option value="Tamil Nadu">Tamil Nadu</option>
							<option value="Telangana">Telangana</option>
							<option value="Tripura">Tripura</option>
							<option value="Uttar Pradesh">Uttar Pradesh</option>
							<option value="Uttarakhand">Uttarakhand</option>
							<option value="West Bengal">West Bengal</option>
							<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
							<option value="Chandigarh">Chandigarh</option>
							<option value="Dadra &amp; Nagar Haveli and Daman &amp; Diu">Dadra &amp; Nagar Haveli and Daman &amp; Diu</option>
							<option value="Delhi">Delhi</option>
							<option value="Jammu and Kashmir">Jammu and Kashmir</option>
							<option value="Lakshadweep">Lakshadweep</option>
							<option value="Puducherry">Puducherry</option>
							<option value="Ladakh">Ladakh</option>
						</select>
					</div>
					<div class="row">
						<label for="city-name">City</label>
						<input type="text" id="city-name"/>
					</div>
				</div>
				<div class="tabs-panel" id="panel3v">
					<h3 class="tab-header">Passenger Details</h3>
					<div id="passenger-1-wrapper" class="passenger-details-wrapper">
						<h5>Passenger 1</h5>
						<div class="row">
							<label for="passenger-1-name">Name</label>
							<input type="text" id="passenger-1-name"/>
						</div>
						<div class="row">
							<label for="passenger-1-age">Age</label>
							<input type="text" id="passenger-1-age"/>
						</div>
						<div class="row">
							<label for="passenger-1-gender">Gender</label>
							<select type="text" id="passenger-1-gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-1-nationality">Nationality</label>
							<select type="text" id="passenger-1-nationality">
								<option value="Indian">Indian</option>
								<option value="Foreign National">Foreign National</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-1-id-proof-type">ID proof type</label>
							<select id="passenger-1-id-proof-type">
								<option value="Voter ID card">Voter ID card</option>
								<option value="Passport">Passport</option>
								<option value="Aadhar Card">Aadhar Card</option>
								<option value="PAN Card">PAN Card</option>
								<option value="Driving licence">Driving licence</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-1-id-proof-number">ID Proof Number</label>
							<input type="text" id="passenger-1-id-proof-number"/>
						</div>
					</div>

					<div id="passenger-2-wrapper" class="passenger-details-wrapper">
						<h5>Passenger 2</h5>
						<div class="row">
							<label for="passenger-2-name">Name</label>
							<input type="text" id="passenger-2-name"/>
						</div>
						<div class="row">
							<label for="passenger-2-age">Name</label>
							<input type="text" id="passenger-2-age"/>
						</div>
						<div class="row">
							<label for="passenger-2-gender">Gender</label>
							<select type="text" id="passenger-2-gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-2-nationality">Nationality</label>
							<select type="text" id="passenger-2-nationality">
								<option value="Indian">Indian</option>
								<option value="Foreign National">Foreign National</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-2-id-proof-type">ID proof type</label>
							<select id="passenger-2-id-proof-type">
								<option value="Voter ID card">Voter ID card</option>
								<option value="Passport">Passport</option>
								<option value="Aadhar Card">Aadhar Card</option>
								<option value="PAN Card">PAN Card</option>
								<option value="Driving licence">Driving licence</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-2-id-proof-number">ID Proof Number</label>
							<input type="text" id="passenger-2-id-proof-number"/>
						</div>
					</div>

					<div id="passenger-3-wrapper" class="passenger-details-wrapper">
						<h5>Passenger 3</h5>
						<div class="row">
							<label for="passenger-3-name">Name</label>
							<input type="text" id="passenger-3-name"/>
						</div>
						<div class="row">
							<label for="passenger-3-age">Name</label>
							<input type="text" id="passenger-3-age"/>
						</div>
						<div class="row">
							<label for="passenger-3-gender">Gender</label>
							<select type="text" id="passenger-3-gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-3-nationality">Nationality</label>
							<select type="text" id="passenger-3-nationality">
								<option value="Indian">Indian</option>
								<option value="Foreign National">Foreign National</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-3-id-proof-type">ID proof type</label>
							<select id="passenger-3-id-proof-type">
								<option value="Voter ID card">Voter ID card</option>
								<option value="Passport">Passport</option>
								<option value="Aadhar Card">Aadhar Card</option>
								<option value="PAN Card">PAN Card</option>
								<option value="Driving licence">Driving licence</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-3-id-proof-number">ID Proof Number</label>
							<input type="text" id="passenger-3-id-proof-number"/>
						</div>
					</div>

					<div id="passenger-4-wrapper" class="passenger-details-wrapper">
						<h5>Passenger 4</h5>
						<div class="row">
							<label for="passenger-4-name">Name</label>
							<input type="text" id="passenger-4-name"/>
						</div>
						<div class="row">
							<label for="passenger-4-age">Name</label>
							<input type="text" id="passenger-4-age"/>
						</div>
						<div class="row">
							<label for="passenger-4-gender">Gender</label>
							<select type="text" id="passenger-4-gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-4-nationality">Nationality</label>
							<select type="text" id="passenger-4-nationality">
								<option value="Indian">Indian</option>
								<option value="Foreign National">Foreign National</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-4-id-proof-type">ID proof type</label>
							<select id="passenger-4-id-proof-type">
								<option value="Voter ID card">Voter ID card</option>
								<option value="Passport">Passport</option>
								<option value="Aadhar Card">Aadhar Card</option>
								<option value="PAN Card">PAN Card</option>
								<option value="Driving licence">Driving licence</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-4-id-proof-number">ID Proof Number</label>
							<input type="text" id="passenger-4-id-proof-number"/>
						</div>
					</div>

					<div id="passenger-5-wrapper" class="passenger-details-wrapper">
						<h5>Passenger 5</h5>
						<div class="row">
							<label for="passenger-5-name">Name</label>
							<input type="text" id="passenger-5-name"/>
						</div>
						<div class="row">
							<label for="passenger-5-age">Name</label>
							<input type="text" id="passenger-5-age"/>
						</div>
						<div class="row">
							<label for="passenger-5-gender">Gender</label>
							<select type="text" id="passenger-5-gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-5-nationality">Nationality</label>
							<select type="text" id="passenger-5-nationality">
								<option value="Indian">Indian</option>
								<option value="Foreign National">Foreign National</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-5-id-proof-type">ID proof type</label>
							<select id="passenger-5-id-proof-type">
								<option value="Voter ID card">Voter ID card</option>
								<option value="Passport">Passport</option>
								<option value="Aadhar Card">Aadhar Card</option>
								<option value="PAN Card">PAN Card</option>
								<option value="Driving licence">Driving licence</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-5-id-proof-number">ID Proof Number</label>
							<input type="text" id="passenger-5-id-proof-number"/>
						</div>
					</div>

					<div id="passenger-6-wrapper" class="passenger-details-wrapper">
						<h5>Passenger 6</h5>
						<div class="row">
							<label for="passenger-6-name">Name</label>
							<input type="text" id="passenger-6-name"/>
						</div>
						<div class="row">
							<label for="passenger-6-age">Name</label>
							<input type="text" id="passenger-6-age"/>
						</div>
						<div class="row">
							<label for="passenger-6-gender">Gender</label>
							<select type="text" id="passenger-6-gender">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
								<option value="Other">Other</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-6-nationality">Nationality</label>
							<select type="text" id="passenger-6-nationality">
								<option value="Indian">Indian</option>
								<option value="Foreign National">Foreign National</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-6-id-proof-type">ID proof type</label>
							<select id="passenger-6-id-proof-type">
								<option value="Voter ID card">Voter ID card</option>
								<option value="Passport">Passport</option>
								<option value="Aadhar Card">Aadhar Card</option>
								<option value="PAN Card">PAN Card</option>
								<option value="Driving licence">Driving licence</option>
							</select>
						</div>

						<div class="row">
							<label for="passenger-6-id-proof-number">ID Proof Number</label>
							<input type="text" id="passenger-6-id-proof-number"/>
						</div>
					</div>
				</div>
				<div class="tabs-panel" id="panel4v">
					<h3 class="tab-header">Activities</h3>
					<div class="row">
						<label for="camera-count">Camera Count</label>
						<select id="camera-count">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
					</div>
				</div>
				<div class="tabs-panel" id="panel5v">
				</div>
				<div class="tabs-panel" id="panel6v">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src="../options.min.js"></script>
</html>