<html>
<head>
	<title>Popup for settings options</title>
	<link rel="stylesheet" href="../assets/css/popup.css">
</head>
<body>
<h3>Tatkal Details</h3>
<div class="zone-selection-row row">
	<label for="zone-selector">Safari Zone</label>
	<select id="zone-selector">
		<option value="Moharli Gate [Core]">Moharli Gate [Core]</option>
		<option value="Khutwanda Gate [Core]">Khutwanda Gate [Core]</option>
		<option value="Navegaon Gate [Core]">Navegaon Gate [Core]</option>
		<option value="Kolara Gate [Core]">Kolara Gate [Core]</option>
		<option value="Pangadi Gate [Core]">Pangadi Gate [Core]</option>
		<option value="Zari Gate [Core]">Zari Gate [Core]</option>
	</select>
</div>

<div class="shift-selection-row row">
	<label for="shift-selector">Shift</label>
	<select id="shift-selector">
		<option value="Morning">Morning</option>
		<option value="Evening">Evening</option>
	</select>
</div>
</body>
<script src="../popup.js"></script>
</html>
